<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbL-IoLEUG3whGtq8XeQR9zf4sHcCrAaA</string>
	<key>GCM_SENDER_ID</key>
	<string>871859213428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gishackathon</string>
	<key>PROJECT_ID</key>
	<string>gishackathon-35fe9</string>
	<key>STORAGE_BUCKET</key>
	<string>gishackathon-35fe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871859213428:ios:9d7566ddceec72f79a6d21</string>
</dict>
</plist>